# ===============================
# Environment Files
# ===============================

.env
.env.*
!.env.example

# ===============================
# Python
# ===============================

__pycache__/
*.pyc

# ===============================
# Chroma DB
# ===============================

chroma_db/

# ===============================
# React
# ===============================

node_modules/
dist/

# ===============================
# VS Code
# ===============================

.vscode/

# ===============================
# Logs
# ===============================

*.log