# ======================================================
# Groq API Key
# ======================================================

# Replace this with your own Groq API Key
GROQ_API_KEY=YOUR_GROQ_API_KEY

# ======================================================
# LLM Configuration
# ======================================================

LLM_MODEL=openai/gpt-oss-120b

LLM_TEMPERATURE=0